<div class="wrapper">
	<form role="form">
		<div class="form-group">
			<input type="text" class="form-control" ng-model="item.name">
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="text" class="form-control" ng-model="item.price">
				<span class="input-group-addon">.00</span>
			</div>
		</div>
		<button class="btn btn-primary" ng-click="editItem(item._id)">
			<i class="glyphicon glyphicon-ok"></i>
			Save
		</button>

		<button class="btn btn-danger" ng-click="deleteItem(item._id)">
			Delete
		</button>
	</form>
</div>